<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>SLogin</servlet-name>
		<servlet-class>Student.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SLogin</servlet-name>
		<url-pattern>/SLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SRegister</servlet-name>
		<servlet-class>Student.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SRegister</servlet-name>
		<url-pattern>/SRegister</url-pattern>
	</servlet-mapping>
</web-app>